

<div>
    <select id="ISR" onchange="selectorISR()" class="form-control">
        <option>Selecciona el tipo de Tarifa</option>
        <option value="1">Por Día</option>
        <option value="2">Semanal</option>
        <option value="14">Decenal</option>
        <option value="4">Quincenal</option>
        <option value="5">Mensual</option>
    </select>
</div>

<div id="pvistaParcial">

</div>

