@model RH.Entidades.C_TiposInasistencia

<link rel="stylesheet" href="~/Content/validator/TooltipValidator.css" />

@using (Html.BeginForm("Create", "TiposInasistencia", FormMethod.Post, new { id = "formulario", @class = "tooltipForm" }))
            {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="fa fa-plus"></i> Nuevo Tipo de Incidencia </h4>

    </div>
                <div class="modal-body" style="padding-right:20px">
                    <div class="form-horizontal ">

                        @*Primer row*@
                        <div class="row">
                            <div class="control-label col-md-2 col-xs-4">
                                <label><span style="color:red">*</span> Clave</label>
                            </div>
                            <div class="form-group has-feedback col-md-4 col-xs-8">
                                <input type="text" name="Clave" class="form-control text-uppercase" placeholder="Clave" id="Clave" autofocus="autofocus" data-rule-lettersonly="true" data-rule-required="true" data-rule-maxlength="2">
                            </div>

                            <div class="control-label col-md-2 col-xs-4">
                                <label><span style="color:red">*</span> Descripción</label>
                            </div>
                            <div class="form-group has-feedback col-md-4 col-xs-8">
                                <input type="text" name="Descripcion" class="form-control" placeholder="Descripcion" id="Descripcion" data-rule-lettersonly="true" data-rule-required="true" data-rule-minlength="3" data-rule-maxlength="25">
                            </div>
                        </div>

                        @*Segundo row*@
                        <div class="row">
                            <div class="control-label col-md-2 col-xs-4">
                                <label>% Pago</label>
                            </div>
                            <div class="form-group has-feedback col-md-4 col-xs-8">
                                <input type="number" name="PorcentajePago" class="form-control" placeholder="Porcentaje de Pago" value="0" id="PorcentajePago" data-rule-required="true" data-rule-digits="true">
                            </div>

                            <div class="control-label col-md-2 col-xs-4">
                                <label>Tipo de Pago</label>
                            </div>
                            <div class="form-group has-feedback col-md-4 col-xs-8">
                                <select class="form-control" id="TipoPago" name="TipoPago">
                                    <option value="1">Días</option>
                                    <option value="2">Horas</option>
                                </select>
                            </div>
                        </div>

                        @*Tercer Row*@
                        <div class="row">
                            <div class="control-label col-md-2 col-xs-4">
                                <label>Derecho a Pago</label>
                            </div>
                            <div class="checkbox has-feedback col-xs-4">
                                @Html.CheckBox("DerechoPago")
                            </div>

                            <div class="control-label col-md-2 col-xs-4">
                                <label>Status</label>
                            </div>
                            <div class="checkbox has-feedback col-xs-4">
                                @Html.CheckBox("Status")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary input-group-sm save" value="Guardar" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
}
<script src="~/Scripts/validator/jquery.validate.1.15.js"></script>
<script src="~/Scripts/validator/messages_es.js"></script>
<script src="~/Scripts/validator/TooltipValidator.js"></script>