<div class="error-page">
    <div class="error-page-content">
        <div class="error-title">
        </div>
        <div class="error-description">
            <h1>¡Oops!</h1>
            <p>Al parecer no has seleccionado ningún periodo de pago aún. Debes seleccionar un periodo de pago para esta operación.</p>
            <a class="toggle-modal-periodos btn btn-default">SELECCIONAR PERIODO DE PAGO</a>
        </div>
    </div>
</div>
