<div class="error-page">
    <div class="error-page-content">
        <div class="error-title">
        </div>
        <div class="error-description">
            <h1>¡Oops!</h1>
            <p>Al parecer no has seleccionado ningún cliente aún. Debes seleccionar un cliente para esta operación.</p>
            <a class="btn btn-default" data-toggle="modal" data-target="#modal-clientes">SELECCIONAR CLIENTE</a>
        </div>
    </div>
</div>
