<div class="error-page">
    <div class="error-page-content">
        <div class="error-title">
        </div>
        <div class="error-description">
            <h1>¡Oops!</h1>
            <p>El periodo al que intentas acceder aún no está autorizado. Debe autorizar el periodo para poder continuar.</p>
            <a data-controller="AutorizarNomina" data-action="" data-target="#main-content" data-tables="true" class="btn btn-default btn-ajax">@(ViewBag.Finiquito ? "AUTORIZAR FINIQUITO" : "AUTORIZAR NÓMINA")</a>
        </div>
    </div>
</div>
