
@using RH.BLL
@model SucursalDatos
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_MenuSecundario.cshtml";
}

<link rel="stylesheet" href="~/Content/indexSucursales.css" />

<div class="container">
    <h1>@Model.Nombre <small class="subh1">@Model.Ciudad</small></h1>
    
    
</div>

