@using RH.Entidades
@model List<Empresa>

<h1>Reporte Ausentismo <span><i class="fa fa-user-times" aria-hidden="true"></i> </span></h1>
<div class="jumbotron">

    <div class="row">
        <form class="form">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Empresa: </label>
                        <select id="empresa" class="form-control">
                            <option value="0">Seleccione Empresa</option>
                            @foreach (var e in Model.OrderBy(x => x.RazonSocial))
                            {
                                <option value="@e.IdEmpresa">@e.RazonSocial</option>
                            }                            
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label title="Fechas en las que fueron registradas al sat">Fecha Inicial Timbrado: </label>
                        <input class="form-control" type="date" id="fechaInicio"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label title="Fechas en las que fueron registradas al sat">Fecha Final Timbrado: </label>
                        <input class="form-control" type="date" id="fechaFin" />
                    </div>
                </div>
                <div class="col-md-4">
                    <label>. </label>
                    <div class="form-group">
                        <a class="btn btn-primary " id="generarReporte">Generar Reporte </a>
                    </div>
                </div>
            </div>



        </form>
    </div>
    
</div>


<script>
    $("#generarReporte").click(function () {
        var sendData = true;
        var idempresa = $("#empresa option:selected").val();
        var empresa = $("#empresa option:selected").text();
        var fechaInicio = $("#fechaInicio").val();
        var fechaFin = $("#fechaFin").val();

        if (empresa <= 0) {
            sendData = false;
            utils.showMessage("WAR ", "Seleccione una empresa", 4000, "danger");
            $('#selectEmpresas').focus();
        }

        if (fechaFin === "") {
            sendData = false;
            utils.showMessage("WAR ", "Establesca la fecha fin", 4000, "danger");
            $('#fechaFin').focus();
        }

        if (fechaInicio === "") {
            sendData = false;
            utils.showMessage("WAR ", "Establesca la fecha inicio", 4000, "danger");
            $('#fechaInicio').focus();
        }
        if (sendData) {

            console.log(empresa);
            console.log(fechaInicio);
            console.log(fechaFin);
            

            var request = $.ajax({
                url: "/Reportes/ReportesAusentismo/",
                method: "POST",
                data: {
                    idEmpresa:idempresa,
                    NombreEmpresa: empresa,
                    fechaI: fechaInicio,
                    fechaF: fechaFin,
                 
                },
                beforeSend: function () {
                    waitingDialog.show('Procesando...');

                }
            });
            request.done(function (result) {
                waitingDialog.hide();
                if (result == "Nada") {
                    utils.showMessage("WAR ", "No se encontro información", 4000, "danger");
                } else {
                    window.location = result;
                }
                //window.open('/Reportes/DescargarArchivo?ruta=' + result, '_blank');
            });
        }
    });
</script>

<script type="text/javascript" src="~/scripts/bootstrap-notify.min.js"></script>
