<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="RHEntities" connectionString="Server=tcp:alianza.database.windows.net,1433;Data Source=alianza.database.windows.net;Initial Catalog=SUNRH;Persist Security Info=False;User ID=test;Password=Admin2016;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <connectionStrings>
    <add name="RHEntities" connectionString="metadata=res://*/RHModel.csdl|res://*/RHModel.ssdl|res://*/RHModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:alianza.database.windows.net,1433;data source=alianza.database.windows.net;initial catalog=SUNRH;persist security info=True;user id=test;password=Admin2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="RHEntities" connectionString="metadata=res://*/RHModel.csdl|res://*/RHModel.ssdl|res://*/RHModel.msl;Server=tcp:alianza.database.windows.net,1433;Data Source=alianza.database.windows.net;Initial Catalog=SUNRH;Persist Security Info=False;User ID=test;Password=Admin2016;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>