body {
}

.panel-body{
    padding:20px;
}

.labID{
    top:15px;
    left:2%;
}

.dep{
    top:15px;
    left:5%;
}

.stat{
    top:1px;
    left:10%;
}

.check{
    top:13px;
}

.newDep{
    top:13px;
    left:5%;
}

.form-control:focus{
    border-color: #3B6782;
}