@using RH.BLL;
@using RH.Entidades;
@using Common.Helpers;
@using Common.Enums;
@{



}
@{
    ViewBag.Title = "DetalleDepartamento";
    Layout = "~/Views/Shared/_MenuSecundario.cshtml";
}

<h2>DetalleDepartamento</h2>

